{% extends "base.html" %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
<h1 class="app-page-title">Orders</h1>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <hr>
  <br>
  <table class="table">
    
    <thead>
      <th>Orders</th>
      <th>Last name</th>
      <th>Name</th>
      <th>Acciones</th>
    </thead>
    
    <tbody>
        {% for i in result['order'] %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.first_name}}</td>
        <td>
          <a  href="{{url_for('orderitemlist')}}/{{i.id}}" >Actualizar<a/>  
          <a href="{{url_for('confirmcancel') }}">Cancelar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}