{% extends "base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
<h1 class="app-page-title">Orders</h1>
<div class="app-card app-card-orders-table shadow-sm mb-5">
  <hr>
  <br>
  <table class="table">
    
    <thead>
      <th>Orders</th>
      <th>Last name</th>
      <th>Name</th>
      <th>Acciones</th>
    </thead>
    
    <tbody>

    <feldset id="grou1">
      {% for i in orderitem %}
      <tr>
        <td>{{i.product}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.price}}</td>
        <td>
             <a  href="{{url_for('orderitemlist')}}">Cancelar</a>
        </td>
      </tr>
      {% endfor %}
    </feldset>
    </tbody>
  </table>
</div>
{% endblock %}